
spring:
    application:
        name: content-service
    config:
        import: nacos:content-service-dev.yml
    cloud:
        nacos:
            discovery:
                server-addr: localhost:8848
            config:
                server-addr: localhost:8848
                file-extension: yml


